In [2]:
import pandas as pd

c:\Users\Matheus\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
# Cria um dicion√°rio em python
dados = {
    'Estado': ['Santa Cartarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais'],
    'Ano': [2004,2005,2006,2007,2008],
    'Taxa Desemprego' : [1.5,1.7,1.6,2.4,2.7]
}

In [4]:
for k,v in dados.items():
    print(k,v)

Estado ['Santa Cartarina', 'Rio de Janeiro', 'Tocantins', 'Bahia', 'Minas Gerais']
Ano [2004, 2005, 2006, 2007, 2008]
Taxa Desemprego [1.5, 1.7, 1.6, 2.4, 2.7]

In [5]:
df = pd.DataFrame(dados)

In [6]:
# Mostra 5 primeiras linhas 
df.head()

            Estado   Ano  Taxa Desemprego
0  Santa Cartarina  2004              1.5
1   Rio de Janeiro  2005              1.7
2        Tocantins  2006              1.6
3            Bahia  2007              2.4
4     Minas Gerais  2008              2.7

In [8]:
# Tipo do objeto criado
type(df)

pandas.core.frame.DataFrame

In [9]:
# Reorganizando as colunas
pd.DataFrame(dados, columns=['Ano', 'Estado','Taxa Desemprego'])

    Ano           Estado  Taxa Desemprego
0  2004  Santa Cartarina              1.5
1  2005   Rio de Janeiro              1.7
2  2006        Tocantins              1.6
3  2007            Bahia              2.4
4  2008     Minas Gerais              2.7

In [10]:
# Criando outro dataframe com os mesmos dados anteriores mas adicionando uma coluna 

df2 = pd.DataFrame(dados,
                   columns= ['Estado', 'Taxa de Desemprego', 'Taxa Crescimento', 'Ano'],
                   index = ['estado1', 'estado2', 'estado3', 'estado4', 'estado5'])

In [11]:
print(df2)

                  Estado Taxa de Desemprego Taxa Crescimento   Ano
estado1  Santa Cartarina                NaN              NaN  2004
estado2   Rio de Janeiro                NaN              NaN  2005
estado3        Tocantins                NaN              NaN  2006
estado4            Bahia                NaN              NaN  2007
estado5     Minas Gerais                NaN              NaN  2008

In [12]:
print('teste')

teste